extends layout

block content
  .container
    .row
      .col-sm-1
        a(href='/')
          i.fa.fa-chevron-left.fa-2x
      .col-sm-3
        p.lead Manage Accounts
      .col-sm-7
        a.btn.btn-primary(href='/accounts/add', role='button') Add Account
      .col-sm-1
        a(href="/logout")
          i.fa.fa-sign-out.fa-2x
    table.table.table-hover.table-stripped
      thead
        tr
          th Account
          th Stage
          th Account Manager
          th Edit
          th Delete
      for account in accounts
        tr
          td
            a(href='/accounts/'+account.name) #{account.name}
            if (account.is_on_web)
              i.first-icon.fa.fa-globe(aria-hidden='true', style='color:orange')
            if (account.is_on_android)
              i.fa.fa-android(aria-hidden='true', style='color:green')
            if (account.is_on_ios)
              i.fa.fa-apple(aria-hidden='true', style='color:grey')
            if (account.is_on_loyalty)
              i.fa.fa-diamond(aria-hidden='true', style='color:red')
          td
            p #{account.stage}
          td
            p #{account.primary_manager}
          td
            a(href='/accounts/edit/'+account.name)
              i.fa.fa-pencil(aria-hidden='true')
          td
            a(href='/accounts/remove/'+account.name)
              i.fa.fa-trash(aria-hidden='true')
