extends layout

block content
  .container
    .cover-container
      h1 Change Password
      br
      form(role='form', action="/change-password",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='password', name="newPassword", placeholder='Enter New Password')
        .form-group
          input.form-control(type='password', name="confirmPassword", placeholder='Confirm Password')
        .row
          .col-xs-6.col-sm-6.col-md-6
            input.btn.btn.btn-warning.btn-block(type='submit', value='Change')
          .col-xs-6.col-sm-6.col-md-6
            a.btn.btn.btn-primary.btn-block(href='/') Cancel
