extends manage-header.pug

block main-pane
    br
    if(user.is_admin)
      .row
        .col-sm-8
          p.lead Hello #{user.username}, Good to see you back.
      .row
        .col-md-3
          button.btn.btn-primary.btn-sm#dashbordChart(onclick='dashbordChart()') task's report
      hr
      .row
        .col-md-6
          h4.text-center no: of tasks per user
          canvas#assigneeChart(style='width: 150px; height: 100px')
        .col-md-6
          h4.text-center no: of tasks per label
          canvas#labelChart(style='width: 150px; height: 100px')
    else
      .row
        .col-sm-6
          .row
            .col-sm-10.col-sm-offset-2.text-center
              h3 Assigned Tasks
              if(assigned_tasks.length > 0)
                for assigned_task in assigned_tasks
                  a(href='/tasks/view/'+assigned_task.slug) #{assigned_task.title}
                  br
                  br
              else
                p you are yet to be assigned task
        .col-sm-6.text-center
          .row
            .col-sm-10.col-sm-offset-1.text-center
              h3 Owned Tasks
              if(owned_tasks.length > 0)
                for owned_task in owned_tasks
                  a(href='/tasks/view/'+owned_task.slug) #{owned_task.title}
                  br
                  br
              else
                p you don't have any secondary accounts
