extends sub-layout.pug

block pane
  .cover-container
    h1 Update Label
    br
    form(role='form', action='/labels/'+label.name, method='post', style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="name", placeholder='Enter name', value=label.name)
      .form-group
        input.form-control.jscolor(name="bgColor", value=label.bg_color)
      .form-group
        input.form-control.jscolor(name="fontColor", value=label.font_color)
      .row
        .col-xs-6.col-sm-6.col-md-6
          input.btn.btn.btn-warning.btn-block(type='submit', value='Update')
        .col-xs-6.col-sm-6.col-md-6
          a.btn.btn.btn-primary.btn-block(href='/labels') Cancel
