extends manage-header.pug

block main-pane
    .row
      .col-sm-9
        p.lead Features
      .col-sm-2
        a.btn.btn-warning(href='/features/add', role='button') Add Feature
    if(features)
      table.table.table-hover.table-stripped.table-responsive
        thead
          tr
            th Feature
            th Background Color
            th Font Color
            th Edit
            th Delete
        for feature in features
          tr
            td
              p #{feature.name}
            td
              button.btn.btn(style="background-color:" + feature.bg_color + ";border-color:" + feature.bg_color + ";padding: 10px 50px;")
            td
              button.btn.btn(style="background-color:" + feature.font_color + ";border-color:" + feature.font_color + ";padding: 10px 50px;")
            td
              a(href='/features/edit/'+feature.name)
                i.fa.fa-pencil(aria-hidden='true')

            td
              a(href='/features/remove/'+feature.name)
                i.fa.fa-trash(aria-hidden='true')
    else
      p.text-center No features created yet. create one
