extends manage-header.pug

block main-pane
    br
    .row
      .col-sm-10
        p.lead Labels
      .col-sm-1
        a.btn.btn-sm.btn-secondary(href='/features/add', role='button') Add New
    if(features)
      .row
        .col-sm-8
          table.table.table-responsive
            for feature in features
              tr
                td
                  button.btn-sm.btn(style="background-color:" + feature.bg_color + ";color:" + feature.font_color + ";border-color:" + feature.bg_color) #{feature.name}
                td
                  i.fa.fa-pencil(aria-hidden='true')
                  a.text-muted(href='/features/edit/'+feature.name)
                    |  Edit
                td
                  i.fa.fa-times(aria-hidden='true')
                  a.text-muted(href='/features/remove/'+feature.name)
                    |  Delete
    else
      .row
        .col-sm-9
          p.text-center No features created yet. create one
