extends layout

block content
  .container
    a(href="/")
      img.img-square(src='/images/illustration.png', height='150', width='150')
    br
    br
    p.lead Hey there, I am Simba. Your virtual assistant.
    br
    h1 Sign In..
    br
    form(role='form', action="/login", method="post")
      .form-group
          input.form-control(type='text', name="email", placeholder='user email')
      .form-group
        input.form-control(type='password', name="password", placeholder='password')
      .col-md-6
        input.btn.green(type='submit', value='Sign In')
      .col-md-6
        a.btn.red(href='/') Reset
    br
    br
    p New around here?
      a(href="/register")
        |  Signup
