// layout.pug
doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/lib/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.css.map')
    link(rel='stylesheet', href='/stylesheets/lib/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css.map')
    link(rel='stylesheet', href='/stylesheets/lib/jquery-confirm.min.css')
    link(rel='stylesheet', href='/stylesheets/paging.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    if (error && error.length > 0)
      br
      .row(align='center')
        .alert.alert-danger.alert-dismissible.text-center(role='alert', style='height:50px;width:500px')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          |  #{error}
      br
    if (message && message.length > 0)
      br
      .row(align='center')
        .alert.alert-info.alert-dismissible.text-center(role='alert', style='height:50px;width:500px')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          |  #{message}
      br
    block content
    block footer
  block scripts
    script(src='/javascripts/lib/jquery-3.2.0.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/jquery-ui.min.js')
    script(src='/javascripts/lib/chart.min.js')
    script(src='/javascripts/lib/moment.min.js')
    script(src='/javascripts/lib/jscolor.min.js', type='text/javascript')
    script(src='/javascripts/lib/jquery-confirm.min.js', type='text/javascript')
    script(src='/javascripts/lib/jquery.table.hpaging.min.js', type='text/javascript')
    script(src='/javascripts/utils.js', type='text/javascript')
    script(src='/javascripts/reports.js', type='text/javascript')
    script(src='/javascripts/app.js', type='text/javascript')
