// layout.pug
doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/css/app.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
  body
    if (error && error.length > 0)
      br
      .row(align='center')
        .alert.alert-danger.alert-dismissible.text-center(role='alert', style='height:50px;width:500px')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          |  #{error}
      br
    if (message && message.length > 0)
      br
      .row(align='center')
        .alert.alert-info.alert-dismissible.text-center(role='alert', style='height:50px;width:500px')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          |  #{message}
      br
    block content
    block footer
  block scripts
    script(src="https://use.fontawesome.com/c44d44ef34.js")
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js')
    script(src='/javascripts/app.js', type='text/javascript')
