// layout.pug
doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css.map')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css.map')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    if (error && error.length > 0)
      br
      .row(align='center')
        .alert.alert-danger.alert-dismissible.text-center(role='alert', style='height:50px;width:500px')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          |  #{error}
      br
    if (message && message.length > 0)
      br
      .row(align='center')
        .alert.alert-info.alert-dismissible.text-center(role='alert', style='height:50px;width:500px')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          |  #{message}
      br
    block content
    block footer
  block scripts
    script(src='/javascripts/jquery-3.2.0.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='/javascripts/custom.js', type='text/javascript')
