extends sub-layout.pug

block pane
  .row
    .col-md-2
      block left-side-pane
        p.lead Manage
        ul.nav.nav-pills.nav-stacked
          if (user.is_admin)
            li(role='presentation')
              a(href='/accounts') Accounts
            li(role='presentation')
              a(href='/users') Users
            li(role='presentation')
              a(href='/stages') Stages
            li(role='presentation')
              a(href='/features') Features
          li(role='presentation')
            a(href='/profile') Profile
    .col-md-10
      block main-pane
