extends sub-layout.pug

block main-menu

  ul.list-group
    a.text-muted.list-group-item.text-center(href="/")
      img.img-square(src='/images/illustration.png', height='50', width='50')
    a.text-muted.list-group-item(href='/') Dashboard
    a.list-group-item Manage
    a.text-muted.list-group-item(href='/tasks') Tasks
    a.text-muted.list-group-item(href='/users') Users
    a.text-muted.list-group-item(href='/stages') Stages
    a.text-muted.list-group-item(href='/labels') Labels
    a.list-group-item Settings
    a.text-muted.list-group-item(href='/profile') Profile
    a.text-muted.list-group-item(href='/logout') Logout

block pane
  .row
    .col-md-12.main-pane
      block main-pane
