extends sub-layout.pug

block main-menu
  .dropdown
    btn.btn-sm.btn-primary#dLabel(type='button', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
      | Menu
      span.caret
    ul.dropdown-menu(aria-labelledby='dLabel')
      li
        a(href='/accounts') Accounts
      li
        a(href='/users') Users
      li
        a(href='/stages') Stages
      li
        a(href='/features') Features
      li.divider(role='separator')
      li
        a(href='/profile') Profile
      li
        a(href='/logout') Logout

block pane
  .row
    .col-md-12
      block main-pane
