extends layout

block content
  .container
    .cover-container
      h1 Add User
      br
      form(role='form', action="/users",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
            input.form-control(type='text', name="email", placeholder='Enter Email')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        .row
          .col-xs-6.col-sm-6.col-md-6
            input.btn.btn.btn-warning.btn-block(type='submit', value='Add')
          .col-xs-6.col-sm-6.col-md-6
            a.btn.btn.btn-primary.btn-block(href='/') Cancel
