extends manage-header.pug

block pane
  br
  .div
    .row
      .col-md-4
        h3 Update Email
        br
        form(role='form', action="/email-update/",method="post", style='max-width: 300px;')
          .form-group
              input.form-control(type='text', name="email", placeholder='Enter New Email', value=user.email)
          input.btn.btn-sm.btn-primary(type='submit', value='Update')

      .col-md-4
        h3 Change Password
        form(role='form', action="/change-password/",method="post", style='max-width: 300px;')
          .form-group
              input.form-control(type='password', name="newPassword", placeholder='Enter New Password')
          .form-group
            input.form-control(type='password', name="confirmPassword", placeholder='Confirm Password')
          input.btn.btn-sm.btn-primary(type='submit', value='Change')

      .col-md-4
        if(user.role == 'administrator')
          h3 API Token
          if(!user.api_token)
            a.btn.btn-sm.btn-primary(href='/users/'+user.username+'/create-token', role='button') Create Token
          else
            h4 #{user.api_token}
            .row
              .col-md-4
                a.btn.btn-sm.btn-warning(href='/users/'+user.username+'/create-token', role='button') Recreate Token
              .col-md-4
                a.btn.btn-sm.btn-danger(href='/users/'+user.username+'/delete-token', role='button') Delete Token
