extends manage-header.pug

block main-pane
    br
    .row
      .col-sm-10
        p.lead Stages
      .col-sm-1
        a.btn.btn-sm.btn-secondary(href='/stages/add', role='button') Add New
    if(stages)
      .row
        .col-sm-8
          table.table.table-responsive
            for stage in stages
              tr
                td
                  button.btn-sm.btn(style="background-color:" + stage.bg_color + ";color:" + stage.font_color + ";border-color:" + stage.bg_color) #{stage.name}
                td
                  i.fa.fa-pencil(aria-hidden='true')
                  a.text-muted(href='/stages/edit/'+stage.name)
                    |  Edit
                td
                  i.fa.fa-times(aria-hidden='true')
                  a.text-muted(href='/stages/remove/'+stage.name)
                    |  Delete
    else
      p.text-center No stages created yet. create one
