extends manage-header.pug

block main-pane
  br
  .row
    .col-md-10
      .row
        .col-sm-4
          input.form-control(type='text', placeholder='Search for...', name='name')
        .col-sm-2
          a.btn.btn-secondary(href='/tasks/add', role='button') Add Task
  br
  .row
    .col-md-10
      table.table
        thead
          tr
            th(scope="col") Title
            th(scope="col") Assignee
            th(scope="col") Owner
            th(scope="col") Current Stage
            th(scope="col") Edit
            th(scope="col") Delete
        tbody
          for task in tasks
            tr
              th(scope="row") #{task.title}
              td #{task.assignee.username}
              td #{task.owner.username}
              td #{task.current_stage}
              td
                i.fa.fa-pencil(aria-hidden='true')
                a.text-muted(href='/tasks/edit/'+task.slug)
                  |  Edit
              td
                i.fa.fa-times(aria-hidden='true')
                a.text-muted(href='/tasks/remove/'+task.slug)
                  |  Delete
