extends manage-header.pug

block pane
    .row
      .col-sm-9
        p.lead Users
    table.table.table-hover.table-stripped
      thead
        tr
          th User
          th Is Admin
          th Delete
      for user in users
        tr
          td
            if(user.is_admin)
              p #{user.username}
                i.fa.fa-superpowers(aria-hidden='true')
            else
              p #{user.username}
          td
            if(user.is_admin)
              a(href='/users/revoke/'+user.username) revoke admin access

            else
              a(href='/users/grant/'+user.username) make admin

          td
            a(href='/users/remove/'+user.username)
              i.fa.fa-trash(aria-hidden='true')
