extends layout

block content
  .container
    .row
      .col-sm-10
        p.lead Manage Users
      .col-sm-2
        a(href="/logout")
          i.fa.fa-sign-out.fa-2x
    a(href='/')
      i.fa.fa-chevron-left.fa-2x(aria-hidden='true')
    table.table.table-hover.table-stripped
      thead
        tr
          th User
          th Is Admin
          th Delete
      for user in users
        tr
          td
            if(user.is_admin)
              p #{user.username}
                i.fa.fa-superpowers(aria-hidden='true')
            else
              p #{user.username}
          td
            if(user.is_admin)
              a(href='/users/revoke/'+user.username) revoke admin access

            else
              a(href='/users/grant/'+user.username) make admin

          td
            a(href='/users/remove/'+user.username)
              i.fa.fa-trash(aria-hidden='true')
