extends manage-header.pug

block main-pane
    br
    .row
      .col-sm-9
        p.lead Users

      for user in users
        .col-sm-4
          .card
            .card-body
              if(user.is_admin)
                h5.card-title #{user.username}
                  span.i.fa.fa-superpowers(aria-hidden='true')

              else
                h5.card-title #{user.username}

              if(user.is_admin)
                p.card-text
                  a(href='/users/revoke/'+user.username)
                    button.btn-xs.btn-outline-info(type="button") revoke admin access
                a(href='/users/remove/'+user.username)
                  button.btn-xs.btn-outline-danger(type="button") remove user

              else
                p.card-text
                  a(href='/users/grant/'+user.username)
                    button.btn-xs.btn-outline-info(type="button") make admin
                a(href='/users/remove/'+user.username)
                  button.btn-xs.btn-outline-danger(type="button") remove
          br
