@import "grid";
@import "normalize";
@import "module";
@import "buttons";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f8f9;
}

a {
  color: #00B7FF;
}

td i {
   padding-left: 1em;
}

td a i{
   padding-left: 0em;
}

.main-pane {
  background-color: #fff;
}
