

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f8f9;
}

.cover-container{
  text-align: center;
}

.cover-container form{
  display:inline-block;
  margin:auto;
}

a {
  color: #00B7FF;
}

td i {
   padding-left: 1em;
}

td a i{
   padding-left: 0em;
}

.main-pane {
  background-color: #fff;
}
